<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117230206405-uf1p22g6uvariehti9ra2u2d90hekvbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117230206405-uf1p22g6uvariehti9ra2u2d90hekvbj</string>
	<key>API_KEY</key>
	<string>AIzaSyClvYg4X7JF4EGW40lDf2Lfh-joJXqtNt0</string>
	<key>GCM_SENDER_ID</key>
	<string>117230206405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sophiestrausberg.RhythmApp</string>
	<key>PROJECT_ID</key>
	<string>rhythmapp-9e4ae</string>
	<key>STORAGE_BUCKET</key>
	<string>rhythmapp-9e4ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117230206405:ios:f31601ae6b28efc5879fac</string>
</dict>
</plist>